<header th:fragment="header" class="site-header" >
  <div class="container header-inner">
    <a href="#" class="logo">
      <img src="/img/logos/logo.svg" alt="Sylfie Logo"/>
    </a>
    <nav class="main-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Tours</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </nav>
    <div class="user-info">
      <div class="balances">
        <span>Balance: <span class="money" th:text="${user.getBalance()}"> €</span></span>
        <span>Bonus balance: <span class="money" th:text="${user.getBonusBalance()}"> €</span></span>
      </div>
      <div class="profile">
        <img class="avatar" src="/img/test_pfp.jpg" alt="User Avatar"/>
        <div class="profile-text">
        <span class="user-name"
              th:text="${user.firstName + ' ' + user.lastName}">
          Имя Фамилия
        </span>
          <span class="user-email" th:text="${user.getEmail()}"}></span>
        </div>
      </div>
    </div>
  </div>
</header>