<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title layout:fragment="title" th:text="#{auth.login.title}">Вход</title>
</head>
<body>
<main layout:fragment="content">
  <section class="auth-container container">
    <h2 th:text="#{auth.login.heading}">Вход в аккаунт</h2>
    <form th:action="@{/login}" method="post" class="auth-form">
      <div class="form-group">
        <input type="text" name="username" placeholder="Email" required/>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Пароль" required/>
      </div>
      <button type="submit" class="btn">Войти</button>
    </form>

    <div class="social-login">
      <p th:text="#{auth.login.withSocial}">Или войдите через:</p>
      <a href="/oauth2/authorization/google" class="btn btn-google">Google</a>
      <a href="/oauth2/authorization/facebook" class="btn btn-facebook">Facebook</a>
    </div>

    <i></i>

    <p class="auth-switch">
      <span th:text="#{auth.login.noAccount}">Нет аккаунта?</span>
      <a th:href="@{/register}" th:text="#{auth.login.toRegister}">Зарегистрироваться</a>
    </p>
  </section>
</main>
</body>
</html>