<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title layout:fragment="title">Sylfie</title>

  <!-- Tailwind -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.3/dist/tailwind.min.css" rel="stylesheet">

  <!-- Inter -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Global styles (optional) -->
  <style>
    body {
      font-family: 'Inter', sans-serif;
    }
  </style>
</head>

<body class="flex flex-col min-h-screen bg-gray-50">
<!-- Хедер -->
<header layout:fragment="header" th:replace="~{fragments/header :: header}"></header>

<!-- Контент -->
<main layout:fragment="content" class="flex-grow">
  <!-- сюда вставляется контент страницы -->
</main>

<!-- Футер -->
<footer layout:fragment="footer" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>